<h1>Questions</h1>

<p *ngIf="!questions"><b>Loading questions...</b></p>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search what you need..." #input>
</mat-form-field>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- questionData Column -->
    <ng-container matColumnDef="questionData">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
      <td mat-cell *matCellDef="let element" > {{element.questionData}} </td>
    </ng-container>
  
    <!-- author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>
  
    <!-- subject Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> Subject </th>
      <td mat-cell *matCellDef="let element">
        <span *ngFor="let sub of element.subject" class="font-weight-light badge badge-pill badge-info">{{sub}}</span>
      </td>
    </ng-container>

    <!-- format Column -->
    <ng-container matColumnDef="format">
      <th class="w-20" mat-header-cell *matHeaderCellDef> Format </th>
      <td mat-cell *matCellDef="let element">
        <span *ngFor="let sub of element.format" class="font-weight-light badge badge-pill badge-dark">{{sub}}</span>
      </td>
    </ng-container>
  

      
    <!-- rating Column -->
    <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
        <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
    </ng-container>

        
    <!-- adult Column -->
    <ng-container matColumnDef="adult">
        <th mat-header-cell *matHeaderCellDef> Adult </th>
        <td mat-cell *matCellDef="let element"> {{element.adult}} </td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date : "dd/MM/yyyy"}} </td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> Action </td>
    </ng-container>
    

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator *ngIf="dataSource" [pageSizeOptions]="[1, 5, 10]" showFirstLastButtons></mat-paginator>
</div>
  <!--

<table class="table table-striped" *ngIf="questions">
    <thead>
        <tr>
            <th>Question</th>
            <th>Author</th>
            <th>Subject</th>
            <th>Format</th>
            <th>Rating</th>
            <th>Adult</th>
            <th>Publish Date</th>
            <th>Rate</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let question of questions">
            <td>{{question.questionData}}</td>
            <td>{{question.author}}</td>
            <td>
                  <button mat-button *ngFor="let sub of question.subject" color="primary">{{sub}}</button>
                <span *ngFor="let sub of question.subject" class="font-weight-light badge badge-pill badge-info">{{sub}}</span>
            </td>
            <td>
                <span *ngFor="let for of question.format" class=" font-weight-lighter badge badge-pill badge-dark">{{for}}</span>
            </td>
            <td>{{question.rating}}</td>
            <td>{{question.adult}}</td>
            <td>{{question.date | date : "dd/MM/yyyy"}}</td>
            <td>Actions</td>
        </tr>
    </tbody>
</table>-->